.App {
  /* text-align: center; */
}

/* Fonts */
@font-face {
  font-family: "Title";   /*Can be any text*/
  src: local("AirbnbCerealRegular"),
    url("./fonts/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Paragraph";   /*Can be any text*/
  src: local("AirbnbCerealRegular"),
    url("./fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("truetype");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1{
  font-family: 'Title';
  font-size: 3rem;
}

h2{
  font-family: 'Title';
  size: 2rem;
}

p{
  font-family: 'Paragraph';
  font-size: larger;
  line-height: 2rem;
}

.photos{
  width: 40%;
}

.text{
  width: 60%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content{
  margin-left: 3rem;
}
